
<!-- Slider Area -->
	<section class="hero-slider bordo_verifica">
		<!-- Single Slider -->
		<div class="single-slider">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-lg-9 offset-lg-3 col-12">
						<div class="text-inner ">
							<div class="row reveal-">
								<div class="col-lg-7 col-12">
									<div class="hero-text">
										<h1>Ordina ciò di cui hai più bisgono</h1>
										<p>Un assistente nella tua zona accetterà l'ordine e ti consegnerà tutto presso la tua abitazione</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Single Slider -->
	</section>
<!--/ End Slider Area -->





<!-- Start Small Banner  -->
	<section class="small-banner section bordo_verifica bg_celeste_chiaro">
		<div class="container-fluid">
			<div class="row">
				<!-- Single Banner  -->
				<div class="col-lg-4 col-md-6 col-12">
					<div class="single-banner art1 reveal- mt-4">	
						<div class="content">
							<h3>Prodotti freschi<br> Frutta, verdura, generi alimentari...</h3>
						</div>
					</div>
				</div>
				<!-- /End Single Banner  -->
				<!-- Single Banner  -->
				<div class="col-lg-4 col-md-6 col-12">
					<div class="single-banner art2 reveal- mt-4">
						<div class="content">
							<h3>Farmaci<br>I più importanti che non possono mancare</h3>
						</div>
					</div>
				</div>
				<!-- /End Single Banner  -->
				<!-- Single Banner  -->
				<div class="col-lg-4 col-12">
					<div class="single-banner tab-height art3 reveal- mt-4">
						
							


<input type="hidden" id="page" value="shop">
      <input type="hidden" id="current_lat" value="{{latitudine}}">
      <input type="hidden" id="current_long" value="{{longitudine}}">
      {{# each person}}
      <input type="hidden" class="others_lat" value="{{this.latitudine}}">
      <input type="hidden" class="others_long" value="{{this.longitudine}}">
      {{/each}}
<div class="bordo_verifica margin_map" id="map" style="border-radius: 15px;"></div>
						
					</div>
				</div>
				<!-- /End Single Banner  -->
			</div>
		</div>
	</section>
<!-- End Small Banner -->

<!-- Start Product Area -->
    <div class="product-area section bordo_verifica bg_celeste_chiaro">
            <div class="container">
				<div class="row reveal">
					<div class="col-12 bordo_verifica">
						<div class="section-title allinea_testo_prodotti" style="text-align: center;">
							<h2>Tutti i prodotti</h2>
						</div>
					</div>
				</div>
				<div class="row reveal">
					<div class="col-12">
						<div class="product-info">
							<div class="nav-main">
								<!-- Tab Nav -->

								<ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#tutt" role="tab">Tutti</a></li>
									<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#farm" role="tab">Farmacia</a></li>
									<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#pul" role="tab">Pulizia</a></li>
									<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#bag" role="tab">Bagno</a></li>
									<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#alim" role="tab">Alimentari</a></li>
								</ul>

								
							</div>
							<div class="tab-content" id="myTabContent">

                <div class="tab-pane fade show active" id="tutt" role="tabpanel">
									<div class="tab-single">
										<div class="row" id="tutti">


								      

										</div>
									</div>
								</div>
								
								<div class="tab-pane fade" id="farm" role="tabpanel">
									<div class="tab-single">
										<div class="row" id="farmaci">


								      

										</div>
									</div>
								</div>

                <div class="tab-pane fade" id="pul" role="tabpanel">
									<div class="tab-single">
										<div class="row" id="pulizie">

                         
										</div>
									</div>
								</div>

                <div class="tab-pane fade" id="bag" role="tabpanel">
									<div class="tab-single">
										<div class="row" id="bagni">

                      

										</div>
									</div>
								</div>

                <div class="tab-pane fade" id="alim" role="tabpanel">
									<div class="tab-single">
										<div class="row" id="alimenti">

                      

										</div>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>
      </div>
    </div>
<!-- End Product Area -->


                      

{{# each products }}
        {{# each this }}
        <input type="hidden" id="analizza{{this.dataValues.category}}">    
        <script >
            var x=document.getElementById("analizzaFarmacia");
           if(x!=null){
               var ris= '<div class="col-xl-3 col-lg-4 col-md-4 col-12">'+
                       ' <div class="single-product">'+
                          '<div class="product-img">'+
                          '  <a>'+
                           '   <img style="height: 400px;" class="default-img" src="{{this.dataValues.imagePath}}" alt="#">'+
                           ' </a>' +
                           ' <div class="button-head">'+
                              '<div class="product-action-2 tx_pd_1" style="text-align: center;">'+
                               ' <a title="Add to cart" href="/add-to-cart/{{this.dataValues.id}}">Aggiungi al carrello</a>'+
                             ' </div>'+
                           ' </div>'+
                         ' </div>'+
                          '<div class="product-content">'+
                            '<h3>{{ this.dataValues.title }}</h3>'+
                         ' </div>'+
                         '<p>{{ this.dataValues.description }}</p>'+
                       ' </div>'+
                     ' </div>';

                        $("#farmaci").append(ris);
                        $("#tutti").append(ris);
                        x.remove();

           }
            </script>
            <script >
            var x=document.getElementById("analizzaAlimentari");
           if(x!=null){
               var ris= '<div class="col-xl-3 col-lg-4 col-md-4 col-12">'+
                       ' <div class="single-product">'+
                          '<div class="product-img">'+
                          '  <a>'+
                           '   <img style="height: 400px;" class="default-img" src="{{this.dataValues.imagePath}}" alt="#">'+
                           ' </a>' +
                           ' <div class="button-head">'+
                              '<div class="product-action-2 tx_pd_1" style="text-align: center;">'+
                               ' <a title="Add to cart" href="/add-to-cart/{{this.dataValues.id}}">Aggiungi al carrello</a>'+
                             ' </div>'+
                           ' </div>'+
                         ' </div>'+
                          '<div class="product-content">'+
                            '<h3>{{ this.dataValues.title }}</h3>'+
                         ' </div>'+
                         '<p>{{ this.dataValues.description }}</p>'+
                       ' </div>'+
                     ' </div>';
                        $("#alimenti").append(ris);
                        $("#tutti").append(ris);
                        x.remove();

           }
            </script>
            <script >
            var x=document.getElementById("analizzaPulizia");
           if(x!=null){
               var ris= '<div class="col-xl-3 col-lg-4 col-md-4 col-12">'+
                       ' <div class="single-product">'+
                          '<div class="product-img">'+
                          '  <a>'+
                           '   <img style="height: 400px;" class="default-img" src="{{this.dataValues.imagePath}}" alt="#">'+
                           ' </a>' +
                           ' <div class="button-head">'+
                              '<div class="product-action-2 tx_pd_1" style="text-align: center;">'+
                               ' <a title="Add to cart" href="/add-to-cart/{{this.dataValues.id}}">Aggiungi al carrello</a>'+
                             ' </div>'+
                           ' </div>'+
                         ' </div>'+
                          '<div class="product-content">'+
                            '<h3>{{ this.dataValues.title }}</h3>'+
                         ' </div>'+
                         '<p>{{ this.dataValues.description }}</p>'+
                       ' </div>'+
                     ' </div>';
                        $("#pulizie").append(ris);
                        $("#tutti").append(ris);
                        x.remove();

           }
            </script>
            <script >
            var x=document.getElementById("analizzaBagno");
           if(x!=null){
               var ris= '<div class="col-xl-3 col-lg-4 col-md-4 col-12">'+
                       ' <div class="single-product">'+
                          '<div class="product-img">'+
                          '  <a>'+
                           '   <img style="height: 400px;" class="default-img" src="{{this.dataValues.imagePath}}" alt="#">'+
                           ' </a>' +
                           ' <div class="button-head">'+
                              '<div class="product-action-2 tx_pd_1" style="text-align: center;">'+
                               ' <a title="Add to cart" href="/add-to-cart/{{this.dataValues.id}}">Aggiungi al carrello</a>'+
                             ' </div>'+
                           ' </div>'+
                         ' </div>'+
                          '<div class="product-content">'+
                            '<h3>{{ this.dataValues.title }}</h3>'+
                         ' </div>'+
                         '<p>{{ this.dataValues.description }}</p>'+
                       ' </div>'+
                     ' </div>';
                        $("#bagni").append(ris);
                        $("#tutti").append(ris);
                        x.remove();

           }
            </script>
        {{/each}}
{{/each}}



